.readout {
    position: absolute;
    width: 150px;
    height: 30px;
    padding: 4px;
    // border: 1px #4125c0;
    top: 500px;
    left: 300px;
    // background: #e8eeec;
    border-style: solid;
    //   border-color: rgb(91, 91, 94);
  }

  .image_A:hover {
   height: 200px;
   cursor: pointer;
  }